<div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top: 10px" id="cont">
  <div fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" fxFlex="50%" fxFlexAlign="center" fxLayout="column"
       fxLayoutAlign="space-around">
    <mat-card id="cards">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">chat</i>
          </ng-template>
          <mat-card id="chatId" class="chat">
            <p *ngFor="let data of messages" class="text-primary">{{data.userName+' '+ [data.time] + ': '
              +data.message}}</p>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">group</i>
          </ng-template>
          <app-users></app-users>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

    <!--Seen-->
    <mat-card>
      <mat-card-content dir="rtl">
        <button mat-button color="primary" (click)="seenByUser()" fxFlexAlign="end"><i
          class="material-icons">done_all</i></button>
        <span *ngIf="seenByAnyone()">Seen by: </span><span *ngFor="let seen of seenByUsers">{{seen}} </span>
      </mat-card-content>
    </mat-card>

    <!--Input-->
    <mat-card>
      <mat-form-field id="input">
        <mat-placeholder><i class="material-icons" style="font-size: 16px">send</i></mat-placeholder>
        <input type="text" [(ngModel)]="userMessage" #messageInput matInput fxFlexFill
               style=""
               (keyup.enter)="sendMessage({message: messageInput.value, userName: userName})"
               autofocus>
      </mat-form-field>
    </mat-card>

  </div>

</div>
